@import "variables";
.main {
  position: relative;
  height: 100vh;
  background: url("https://api.dujin.org/bing/1920.php") no-repeat;
  background-size: cover;
}
.navsWrapper {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9;
  gap: 24px;
  height: 64px;
  display: flex;
  align-content: center;
  justify-content: flex-start;


  background-color: rgba(255,255,255,0.4);
  backdrop-filter: blur(6px);

  .navItem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    gap: 16px;
    height: 64px;
    font-size: 14px;
    box-sizing: border-box;
    &:hover {
      font-weight: 500;
      color: $primary;
      cursor: pointer;
    }
    &.active {
      color: $primary;
    }

    .activeBar {
      position: absolute;
      bottom: 0;
      width: 24px;
      height: 4px;
      background: $primary;
      border-radius: 2px 2px 0px 0px;
    }
  }
}

.body {
  display: flex;

}

.content {
  padding: 64px 200px 0 200px;
}

.leftNavWrapper {
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 24px 24px 64px;
  overflow-y: auto;

  background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(6px);
}
.categoryTreeWrapper {
  > .link:first-child {
    padding-top: 24px;
  }
  .dl {
    position: relative;
    padding: 16px 0;
    .dt {
      padding: 0 16px;
    }
    .dd {
      margin-left: 16px;
      padding: 0 16px;
    }
  }

  .link {
    color: $primary;
  }
}

.articleListWrapper {
  width: 100%;
  height: calc(100vh - 64px);
  padding: 32px;
  background-color: rgba(255,255,255, 0.7);
  backdrop-filter: blur(6px);
  overflow-y: auto;

  .articleLink {
    height: 100%;
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(255,255,255, 0.7);
  }

  .articleRow {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(228, 230, 235, 0.5);

    a {
      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }

    .time {
      font-size: 13px;
      color: #86909c;
    }
  }
}

.articleDetail {
  width: 100vw;
  height: calc(100vh - 64px);
  padding: 32px;
  background-color: rgba(255,255,255, 0.7);
  backdrop-filter: blur(6px);
  overflow-y: auto;

  .content {
    min-height: 100%;
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(255,255,255, 0.7);

    .h1 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    .publishInfo {
      font-size: 16px;
      color: #86909c;
      margin-bottom: 24px;
    }
  }
}
