.article-item-wrap {
  display: flex;
  position: relative;
}
.time {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent url(/static/imgs/date_bg_small.png) no-repeat center center;
  line-height: 1.2;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 70px;
  height: 70px;
  text-shadow: 1px 1px 0 #ffffff;
  background-size: 100% 100%;
  span {
    display: inline-block;
  }
}
.desc {
  margin-left: 76px;
  min-height: 80px;
  font-size: 1.6rem;
  h2 {
    color: #2E9286;
    font-family: "adelle-n4","adelle",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    padding-top: 0.35em;
    padding-bottom: 0;
    margin: 0 0 0 0;
  }
}
